<div class="background-section">
  <div class="container-fluid mt-5">

    <h2 class="mb-4 text-center">Browse Apartments</h2>

    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let apt of apartments">
        <div class="card h-100">
          <img [src]="apt.image" class="card-img-top" alt="Apartment Image">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ apt.title }}</h5>
            <p class="card-text">{{ apt.description }}</p>
            <button class="btn btn-success mt-auto" (click)="bookApartment(apt.title)">Book Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
