.card {
  border-radius: 12px;
  overflow: hidden;
}

.card-title {
  font-weight: 600;
}

.card-img-top {
  max-height: 400px;
  object-fit: cover;
}
.background-section {
  background-image: url('/assets/images/residence.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
  margin: 0;
}
