.card {
  border-radius: 12px;
  overflow: hidden;
}

.card-title {
  font-weight: 400;
}
.card-img-top {
  height: 250px;
  object-fit: cover;
  width: 100%;
  border-bottom: 4px solid rgb(193, 163, 98); /* Custom color and thicker line */
}

.background-section {
  background-image: url('/assets/images/backk.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
  margin: 0;
}
