<header class="header_section long_section px-0">
  <nav class="navbar navbar-expand-lg custom_nav-container">
    <a class="navbar-brand" routerLink="/home">
      <span>
        <img class="logo-bordered" src="/assets/images/LOGO-FIGEAC-AERO.webp" alt="Logo">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class=""> </span>
    </button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link button" routerLink="/home">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link button" routerLink="/complaints">Residence</a>
      </li>
      <li class="nav-item">
        <a class="nav-link button" routerLink="/subjects">SUBJECTS</a>
      </li>
    </ul>
  </div>
</div>

       <div class="quote_btn-container">
  <a routerLink="/login" class="shadow__btn">
    Se connecter
    <i class="fa fa-user" aria-hidden="true"></i>
  </a>
</div>

        

  <!-- jQery -->
  <script src="/assets/js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="/assets/js/bootstrap.js"></script>
    </nav>
    <router-outlet></router-outlet>
  </header>
